.btn {
    background-color: none;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
    padding: 10px;
}

.btn-active {
    border-bottom: 1px solid red;
}

.other-style {
    margin-right: 40px;
}